This notebook demonstrates on how to create various visualizations using dash bootstrap

Import required libraries

In [1]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.express as px
import plotly.graph_objects as go
import pandas as pd

Define external stylesheets and dash app

In [2]:
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
app = dash.Dash(__name__, external_stylesheets=external_stylesheets)

Load/Create the data

In [3]:
df = pd.DataFrame({
    "Fruit": ["Apples", "Oranges", "Bananas", "Apples", "Oranges", "Bananas"],
    "Amount": [4, 1, 2, 2, 4, 5],
    "City": ["SF", "SF", "SF", "Montreal", "Montreal", "Montreal"]
})

In [4]:
df.head(10)

     Fruit  Amount      City
0   Apples       4        SF
1  Oranges       1        SF
2  Bananas       2        SF
3   Apples       2  Montreal
4  Oranges       4  Montreal
5  Bananas       5  Montreal

In [5]:
df_fruit = pd.DataFrame({
    "Fruit": ["Apples", "Oranges", "Bananas"],
    "Amount": [4, 1, 2]
})

In [6]:
df_fruit.head()

     Fruit  Amount
0   Apples       4
1  Oranges       1
2  Bananas       2

Define the visualization

In [ ]:
barchart=px.bar(df_fruit,x='Fruit',y='Amount',text='Amount',color='Amount')
barchart.update_layout(barmode='stack', xaxis={'categoryorder':'category descending'})
horizontal_barchart=px.bar(df_fruit,y='Fruit',x='Amount',text='Amount',orientation='h')
grouped_barchart=px.bar(df,x='Fruit',y='Amount',color='City',barmode='group',text='Amount')
stacked_barchart=px.bar(df,x='Fruit',y='Amount',color='City',barmode='stack',text='Amount')

pie_chart = px.pie(df, values='Amount', names='Fruit')
doughnut_pie_chart = go.Figure(data=[go.Pie(labels=df['Fruit'].tolist(), values=df['Amount'].tolist(), hole=.3)])
# donought pie chart with text at center
doughnut_pie_chart_with_center = go.Figure(data=[go.Pie(labels=df['Fruit'].tolist(), values=df['Amount'].tolist(), hole=.3)])
doughnut_pie_chart_with_center.update_layout(title_text="Fruit Prices",
    annotations=[dict(text='Fruits',  font_size=20, showarrow=False)])

Create the vsualization in html

In [ ]:
app.layout=html.Div(children=[
    html.H1(children='First Dash App'),
    html.H2(children='1. Bar Chart'),
    
    dcc.Graph(
    id='bar-graph',
    figure=barchart
    ),
    
    html.H2(children='1. Horizontal Bar Chart'),
    dcc.Graph(
    id='horizontal-bar-graph',
    figure=horizontal_barchart
    ),
    
    html.H2(children='1. Grouped Bar Chart'),
    dcc.Graph(
    id='grouped-bar-graph',
    figure=grouped_barchart
    ),
    
    html.H2(children='2. Stacked Bar Chart'),
    dcc.Graph(
    id='stacked-bar-graph',
    figure=stacked_barchart
    ),
    
    html.H2(children='3. Pie Chart'),
    dcc.Graph(
    id='pie-graph',
    figure=pie_chart
    ),
    
    html.H2(children='4. Donought Pie Chart'),
    dcc.Graph(
    id='donought-pie-graph',
    figure=doughnut_pie_chart
    ),
    
    html.H2(children='5. Donought Pie Chart with text at center'),
    dcc.Graph(
    id='donought-pie-graph-with-center-text',
    figure=doughnut_pie_chart_with_center
    )    
])

Run the dash server

In [ ]:
if __name__ == '__main__':
    app.run_server(debug=False)